{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
<div style="color:blue; align-content:center; margin:2rem;">
<form style="color:blue;text-align:center; width:50%;" action ="page.php" method="post">
<input type="hidden" name="id" value="<?php echo  $id=uniqid();?>" />
  <div class="mb-3" class="form">
    <label for="exampleInputEmail1" class="form-label">Titre</label>
    <input type="text" class="form-control" name="Titre" >
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Texte</label>
    <input type="text" class="form-control" name="Texte">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Auteur</label>
    <input type="text" class="form-control" name="Auteur">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Date de publication</label>
    <input type="date" class="form-control" name="Date_publication">
  </div>
  <button type="submit" class="btn btn-primary" name="submit">Publier</button>
</form>
</div>
{% endblock %}
